<p style='margin-bottom:0px;font-size:14px;'>
	Se precisar falar com nosso time é só nos enviar um email:
	<a
		href='mailto:sac@redfeather.com.br'
		alt='Help'
		style='font-weight:bold;color:#000!important;'
		target='_blank'
	>sac@redfeather.com.br</a>
</p>
<p style='margin-bottom:0px;font-size:14px;'>
	((i18n.common.regards))</p>
<p style='margin-top:0px;font-size:14px;margin-bottom:0;'>
	((i18n.common.team))
	{{_accountInfo.HostName}}</p><br />
<div
	class='tc'
	style='background-color:#fff;width:100%;margin:0;padding:1rem;box-sizing:border-box;'
>
	<div style='display:block;width:auto;margin:0 auto 15px;text-align:center;'>
		<a
			href='http://www.instagram.com/redfeatherbrasil'
			target='_blank'
			style='display:inline-block;vertical-align:middle;'
		>
			<img
				src='https://redfeather.vtexassets.com/arquivos/instagram-icon.png'
				style='max-width:24px;height:auto;margin-right:10px;'
				alt='Instagram '
			/>
		</a>
		<a
			href='http://www.facebook.com/redfeatherbrasil'
			target='_blank'
			style='display:inline-block;vertical-align:middle;'
		>
			<img
				src='https://redfeather.vtexassets.com/arquivos/facebook-icon.png'
				style='max-width:30px;height:auto;margin-right:10px;'
				alt='Facebook '
			/>
		</a>
	</div>
	<a
		href='https://www.redfeather.com.br/'
		alt='Help'
		style='font-weight:bold; color:#000!important; text-decoration: none;'
		target='_blank'
	>
		www.redfeather.com.br
	</a>
	<p
		style='font-size:12px;color:#000;margin-bottom:0px;margin-top:0;text-align:center;'
	>
		Esse email é enviado automaticamente e não recebe respostas.
	</p>
	<small><a
			href='https://www.redfeather.com.br/politica-de-privacidade'
			style='font-weight:bold;color:#000!important;margin-top:.25rem;'
			target='_blank'
		>Política de Privacidade</a></small>
</div>