@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.imageElement--banner-home {
  width: 100%;
  height: auto;
  max-width: unset; }
  @media (max-width: 767px) {
    .imageElement--banner-home {
      margin-top: 30px; } }

:global(.vtex-store-components-3-x-imageElementLink) {
  width: 100%; }

.container {
  max-width: unset !important; }

:global(.vtex-rich-text-0-x-container--header-sup-whatsapp) {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #f3f3f3;
  height: 38px;
  margin-left: 10px; }
  :global(.vtex-rich-text-0-x-container--header-sup-whatsapp)::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: #000;
    display: block;
    font-size: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='30.667px' height='30.667px' viewBox='0 0 30.667 30.667' style='enable-background:new 0 0 30.667 30.667;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M30.667,14.939c0,8.25-6.74,14.938-15.056,14.938c-2.639,0-5.118-0.675-7.276-1.857L0,30.667l2.717-8.017 c-1.37-2.25-2.159-4.892-2.159-7.712C0.559,6.688,7.297,0,15.613,0C23.928,0.002,30.667,6.689,30.667,14.939z M15.61,2.382 c-6.979,0-12.656,5.634-12.656,12.56c0,2.748,0.896,5.292,2.411,7.362l-1.58,4.663l4.862-1.545c2,1.312,4.393,2.076,6.963,2.076 c6.979,0,12.658-5.633,12.658-12.559C28.27,8.016,22.59,2.382,15.61,2.382z M23.214,18.38c-0.094-0.151-0.34-0.243-0.708-0.427 c-0.367-0.184-2.184-1.069-2.521-1.189c-0.34-0.123-0.586-0.185-0.832,0.182c-0.243,0.367-0.951,1.191-1.168,1.437 c-0.215,0.245-0.43,0.276-0.799,0.095c-0.369-0.186-1.559-0.57-2.969-1.817c-1.097-0.972-1.838-2.169-2.052-2.536 c-0.217-0.366-0.022-0.564,0.161-0.746c0.165-0.165,0.369-0.428,0.554-0.643c0.185-0.213,0.246-0.364,0.369-0.609 c0.121-0.245,0.06-0.458-0.031-0.643c-0.092-0.184-0.829-1.984-1.138-2.717c-0.307-0.732-0.614-0.611-0.83-0.611 c-0.215,0-0.461-0.03-0.707-0.03S9.897,8.215,9.56,8.582s-1.291,1.252-1.291,3.054c0,1.804,1.321,3.543,1.506,3.787 c0.186,0.243,2.554,4.062,6.305,5.528c3.753,1.465,3.753,0.976,4.429,0.914c0.678-0.062,2.184-0.885,2.49-1.739 C23.307,19.268,23.307,18.533,23.214,18.38z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }
  :global(.vtex-rich-text-0-x-container--header-sup-whatsapp) :global(.vtex-rich-text-0-x-wrapper--header-sup-whatsapp) :global(.vtex-rich-text-0-x-paragraph--header-sup-whatsapp) :global(.vtex-rich-text-0-x-link--header-sup-whatsapp) {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600; }

.searchBarContainer {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  max-width: unset;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede; }
  @media (min-width: 767px) and (max-width: 1025px) {
    .searchBarContainer {
      margin-top: 30px; } }
  .searchBarContainer .searchBarInnerContainer {
    width: 100%; }
    .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer {
      width: 100%; }
      .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
        border: 0;
        width: 100%;
        border-radius: 0px;
        background-color: #fff; }
        @media (max-width: 768px) {
          .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
            margin-top: 15px; } }
        .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
          min-width: 160px;
          padding: 0;
          background-color: #fff;
          color: #000;
          font-size: 14px;
          font-weight: 600; }
          .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
            color: #000;
            font-family: "Montserrat", sans-serif !important; }
        .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
          padding: 0;
          background-color: #fff; }
        .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) .suffixWrapper .searchBarIcon {
          padding: 0; }
          .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) .suffixWrapper .searchBarIcon::before {
            content: "\f1a3";
            width: 20px;
            height: 20px;
            color: #000;
            display: block;
            font-size: 18px;
            font-family: "Flaticon";
            font-weight: 600; }
          .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) .suffixWrapper .searchBarIcon .searchIcon {
            display: none; }

:global(.vtex-flex-layout-0-x-flexCol--utils-desktop) {
  display: flex;
  justify-content: space-around;
  margin-left: 20px; }
  :global(.vtex-flex-layout-0-x-flexCol--utils-desktop) :global(.vtex-flex-layout-0-x-flexColChild--utils-desktop) {
    margin: 0 !important; }
  :global(.vtex-flex-layout-0-x-flexCol--utils-desktop) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-login-2-x-container) :global(.vtex-button__label) :global(.vtex-login-2-x-label) {
    font-weight: 600; }
  :global(.vtex-flex-layout-0-x-flexCol--utils-desktop) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-button__label) {
    font-weight: 600; }

.logoLink--logo-header .logoContainer {
  padding: 0; }
  @media (max-width: 1025px) {
    .logoLink--logo-header .logoContainer {
      display: block;
      margin: 0 auto;
      max-width: 148px;
      max-height: 52px; } }

.container {
  padding: 0; }

:global(.vtex-button):focus {
  border: 0;
  outline: 0; }

.resultsList {
  padding: 0;
  z-index: 99999999999999999999;
  background-color: #fff; }
  .resultsList .resultsItem {
    background-color: #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    color: #000;
    text-transform: lowercase; }
    .resultsList .resultsItem .resultsItemImage {
      border: 1px solid transparent; }
    .resultsList .resultsItem .resultsItemName,
    .resultsList .resultsItem .searchTerm {
      font-size: 13px;
      color: #000;
      text-transform: lowercase; }
    .resultsList .resultsItem:hover {
      background-color: #f3f3f3;
      border-color: #dedede; }
      .resultsList .resultsItem:hover .resultsItemImage {
        border-color: #dedede; }

:global(.vtex-rich-text-0-x-wrapper--title-newsletter) {
  font-family: "Montserrat", sans-serif; }

:global(.vtex-rich-text-0-x-headingLevel3--title-newsletter) {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 6px; }

:global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
  font-weight: 300; }

.newsletter {
  padding: 0 80px 55px; }
  @media (max-width: 767px) {
    .newsletter {
      padding: 0 30px 55px; } }
  .newsletter .container {
    margin: 0 auto;
    padding: 0; }
    .newsletter .container .form {
      max-width: unset; }
      @media (max-width: 767px) {
        .newsletter .container .form {
          padding: 0; } }
      .newsletter .container .form .label {
        font-size: 0;
        position: relative;
        text-align: center;
        font-weight: normal;
        color: #000; }
        .newsletter .container .form .label::before {
          display: block;
          font-size: 40px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          content: "CADASTRE-SE";
          content: none; }
          @media (max-width: 767px) {
            .newsletter .container .form .label::before {
              font-size: 24px; } }
        .newsletter .container .form .label::after {
          display: block;
          font-size: 18px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-weight: 300;
          content: none; }
          @media (max-width: 767px) {
            .newsletter .container .form .label::after {
              font-size: 18px; } }
        .newsletter .container .form .label::before {
          left: -50px; }
        .newsletter .container .form .label::after {
          right: -50px; }
      .newsletter .container .form .inputGroup {
        width: 100%;
        margin: 0;
        display: flex;
        position: relative;
        padding-top: 0;
        justify-content: flex-start; }
        .newsletter .container .form .inputGroup :global(.vtex-input) {
          max-width: 400px; }
          .newsletter .container .form .inputGroup :global(.vtex-input) :global(.vtex-input-prefix__group) {
            margin: 0;
            width: 100%;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-width: 1px;
            border-color: #fff; }
            .newsletter .container .form .inputGroup :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
              color: #fff;
              padding: 0;
              font-size: 14px;
              padding-left: 10px;
              background-color: transparent; }
              .newsletter .container .form .inputGroup :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
                font-family: "Montserrat", sans-serif;
                color: #fff;
                font-size: 14px; }
        .newsletter .container .form .inputGroup .buttonContainer {
          padding: 0; }
          .newsletter .container .form .inputGroup .buttonContainer :global(.vtex-button) {
            border: 0;
            margin: 0;
            border-radius: 0;
            color: #fff;
            padding-right: 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
            background-color: transparent; }
            .newsletter .container .form .inputGroup .buttonContainer :global(.vtex-button) :global(.vtex-button__label) {
              font-family: "Montserrat", sans-serif;
              padding-left: 0;
              padding-right: 0;
              font-size: 14px; }
              .newsletter .container .form .inputGroup .buttonContainer :global(.vtex-button) :global(.vtex-button__label)::after {
                width: 17px;
                height: 12px;
                display: block;
                content: "\f179";
                font-size: 18px;
                margin-left: 10px;
                font-family: "Flaticon"; }
        @media (max-width: 767px) {
          .newsletter .container .form .inputGroup {
            display: flex;
            flex-direction: column; }
            .newsletter .container .form .inputGroup :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
              padding-left: 0px; }
            .newsletter .container .form .inputGroup .buttonContainer :global(.vtex-button) {
              margin: 10px auto;
              display: flex;
              align-items: center; } }

.shippingContainer {
  width: 280px;
  margin-bottom: 0;
  position: relative; }

@media (max-width: 767px) {
  .shippingContainer {
    margin-top: 0; } }

.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0; }

.shippingContainer :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "ok";
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }

.shippingContainer :global(.vtex-button) {
  right: 0;
  border: 0;
  top: 21px;
  padding: 0;
  z-index: 1;
  width: auto;
  height: 40px;
  display: block;
  cursor: pointer;
  border-radius: 0;
  position: absolute;
  background-color: #000; }

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 0; }

.shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input) {
  width: 220px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f3f3f3; }

.shippingContainer :global(.vtex-input__label) {
  font-size: 0; }

.shippingContainer :global(.vtex-input__label)::before {
  content: "Simular Frete";
  font-size: 13px;
  font-weight: normal;
  color: #000;
  text-transform: uppercase; }

.shippingTable {
  margin-bottom: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-radius: 20px;
  border-color: #ccc; }

.shippingTable .shippingTableRadioBtn {
  display: none !important; }

.skuSelectorOptionsList .skuSelectorInternalBox {
  border-radius: 0; }

.skuSelectorOptionsList .frameAround {
  display: none; }

.skuSelectorOptionsList .diagonalCross {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-image: unset; }
  .skuSelectorOptionsList .diagonalCross::before {
    top: 50%;
    left: 0;
    z-index: 1;
    height: 1px;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-color: #000;
    transform: rotate(45deg); }

.skuSelectorItem .skuSelectorInternalBox {
  border-color: #000;
  background-color: #fff; }
  .skuSelectorItem .skuSelectorInternalBox .valueWrapper {
    color: #000;
    background-color: #fff; }

.skuSelectorItem--selected .skuSelectorInternalBox {
  padding: 10px;
  border-color: #707070 !important;
  background-color: #707070 !important; }
  .skuSelectorItem--selected .skuSelectorInternalBox .valueWrapper {
    color: #fff !important;
    background-color: #707070 !important;
    padding: 2px; }

.skuSelectorName {
  color: #000;
  font-size: 12px;
  text-transform: uppercase; }

.skuSelectorItem .skuSelectorInternalBox {
  position: relative; }
  .skuSelectorItem .skuSelectorInternalBox .skuSelectorItemImageValue {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }

:global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  display: none; }

:global(.vtex-product-price-1-x-sellingPriceValue) {
  display: block;
  font-size: 18px; }
  :global(.vtex-product-price-1-x-sellingPriceValue)::before {
    content: "Por:";
    margin-right: 8px; }

:global(.vtex-product-price-1-x-installments) {
  font-size: 14px; }

:global(.vtex-store-components-3-x-skuSelectorSelectorImageValue) {
  font-size: 13px; }

@media (min-width: 767px) {
  .carouselGaleryCursor {
    width: 90%; } }

@media (max-width: 767px) {
  .carouselGaleryCursor {
    padding: 0; } }

.swiperCaretNext::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82 l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262 c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z'/%3E%3Cpath d='M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115 L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667 c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }
  @media (max-width: 767px) {
    .swiperCaretNext::before {
      width: 18px;
      height: 18px; } }

.swiperCaretNext .caretIcon {
  display: none; }

.swiperCaretPrev::before,
.sliderLeftArrow::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.787 490.787' style='enable-background:new 0 0 490.787 490.787;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006 c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083 c-0.086,0.089-0.173,0.176-0.262,0.262L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085 C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cpath d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256 c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262 L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }
  @media (max-width: 767px) {
    .swiperCaretPrev::before,
    .sliderLeftArrow::before {
      width: 18px;
      height: 18px; } }

.swiperCaretPrev .caretIcon,
.sliderLeftArrow .caretIcon {
  display: none; }

.specificationsTitle {
  display: none; }

.specificationsTableContainer {
  padding-left: 0; }
  @media (max-width: 767px) {
    .specificationsTableContainer {
      margin-top: 0; } }

.productDescriptionText .content {
  font-size: 14px;
  padding-top: 30px;
  font-weight: 300; }
  @media (max-width: 767px) {
    .productDescriptionText .content {
      padding: 30px 15px 0; } }

.productDescriptionText .container {
  height: 100% !important; }
  .productDescriptionText .container .fadeBottom {
    display: none !important; }
  .productDescriptionText .container .showMoreButton {
    display: none !important; }

.specificationsTableContainer .container {
  height: 100% !important; }
  .specificationsTableContainer .container .fadeBottom {
    display: none !important; }
  .specificationsTableContainer .container .showMoreButton {
    display: none !important; }

.specificationsTablePropertyHeading,
.specificationsTableSpecificationHeading {
  border-top: 0; }

@media (max-width: 767px) {
  .specificationsTableHead {
    display: none; } }

@media (max-width: 767px) {
  .specificationsTableBody .specificationsTableRow {
    display: flex;
    flex-direction: column; }
    .specificationsTableBody .specificationsTableRow .specificationItemProperty,
    .specificationsTableBody .specificationsTableRow .specificationItemSpecifications {
      width: 100% !important; }
    .specificationsTableBody .specificationsTableRow .specificationItemProperty {
      font-weight: 600; } }

@media (max-width: 767px) {
  .productBrand {
    display: block;
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  .skuSelectorContainer {
    display: block;
    margin-top: 10px; } }

.skuSelectorSubcontainer--cor {
  display: none; }

.swiperPaginationClickable {
  display: none !important; }

@media (min-width: 767px) {
  .carouselGaleryThumbs {
    width: 10% !important; } }

.carouselGaleryThumbs .gradientBaseBottom::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512.011 512.011' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center; }

.carouselGaleryThumbs .gradientBaseBottom .caretIcon {
  display: none; }

.carouselGaleryThumbs .gradientBaseTop::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512.01 512.01' style='enable-background:new 0 0 512.01 512.01;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M505.755,358.256L271.088,123.589c-8.341-8.341-21.824-8.341-30.165,0L6.256,358.256c-8.341,8.341-8.341,21.824,0,30.165 s21.824,8.341,30.165,0l219.584-219.584l219.584,219.584c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251 C514.096,380.08,514.096,366.597,505.755,358.256z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center; }

.carouselGaleryThumbs .gradientBaseTop .caretIcon {
  display: none; }

.logoImage--logo-header {
  height: auto;
  max-width: 150px; }

.infoCardContainer--por-categoria {
  width: 100%;
  padding: 0;
  flex-direction: row; }
  .infoCardContainer--por-categoria .infoCardTextContainer {
    width: auto;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    align-items: center;
    flex-direction: row;
    justify-content: center; }
    .infoCardContainer--por-categoria .infoCardTextContainer .container:first-child {
      margin-right: 10px;
      margin-bottom: 0; }
    .infoCardContainer--por-categoria .infoCardTextContainer .container:last-child {
      width: 100%;
      bottom: 0;
      display: flex;
      padding: 0;
      justify-content: center;
      background-color: white; }
    .infoCardContainer--por-categoria .infoCardTextContainer .container .wrapper .paragraph {
      color: #000;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      align-items: center;
      font-weight: 300;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .infoCardContainer--por-categoria .infoCardTextContainer .container .wrapper .paragraph {
          font-size: 12px;
          max-width: 190px; } }
  .infoCardContainer--por-categoria .infoCardImageContainer--por-categoria {
    display: none; }

.imageElement--carousel-home-2 {
  width: 80% !important;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .imageElement--carousel-home-2 {
      width: 100% !important; } }

.productImagesContainer--tabela-de-medida {
  max-width: 100%; }

.carouselGaleryThumbs--tabela-de-medida {
  display: none; }

.carouselContainer--tabela-de-medida .carouselGaleryCursor {
  width: 100% !important;
  padding: 0; }

.carouselContainer--tabela-de-medida .swiperCaret {
  display: none; }

.carouselContainer--tabela-de-medida .productImagesGallerySwiperContainer .productImagesGallerySlide {
  display: none; }
  .carouselContainer--tabela-de-medida .productImagesGallerySwiperContainer .productImagesGallerySlide:last-child {
    display: block; }

.infoCardContainer--card-home {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }
  .infoCardContainer--card-home .infoCardTextContainer {
    top: 130%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: top 0.3s linear;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 30px; }
    @media (max-width: 767px) {
      .infoCardContainer--card-home .infoCardTextContainer {
        margin-left: -10px; } }
    .infoCardContainer--card-home .infoCardTextContainer .infoCardHeadline,
    .infoCardContainer--card-home .infoCardTextContainer .infoCardSubhead {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      line-height: normal;
      color: #fff;
      text-align: left; }
    .infoCardContainer--card-home .infoCardTextContainer .infoCardHeadline {
      font-size: 32px;
      letter-spacing: 6px; }
    .infoCardContainer--card-home .infoCardTextContainer .infoCardSubhead {
      font-size: 18px;
      letter-spacing: 3.6px; }
    @media (max-width: 767px) {
      .infoCardContainer--card-home .infoCardTextContainer .infoCardHeadline {
        font-size: 18px; }
      .infoCardContainer--card-home .infoCardTextContainer .infoCardSubhead {
        font-size: 12px;
        width: 100%; } }
  @media (max-width: 767px) {
    .infoCardContainer--card-home .infoCardTextContainer {
      top: 50%;
      justify-content: center; } }
  .infoCardContainer--card-home:hover .infoCardTextContainer {
    top: 50%;
    justify-content: center; }
  .infoCardContainer--card-home .infoCardImageContainer {
    width: 100%;
    height: 100%;
    line-height: 0; }
    .infoCardContainer--card-home .infoCardImageContainer .infoCardImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
