<div class='mt4 mb3 w8 pv3 pb7 center'>
	<a href='https://www.redfeather.com.br' target="_blank" style='display: block;' >
		<img
			alt=''
			border='0'
			width='180px'
			alt='Redfeather'
			title="Redfeather"
			src='https://redfeather.vtexassets.com/arquivos/logo-red-feather.svg?1'
			style='max-height: 100px;'
		/>
	</a>
</div>