@import "variables";

.relatedProducts {
    margin: 0 25px 30px;
    .title {
        color: $dark;
        margin: 0 0 20px;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    :global(.vtex-slider-0-x-sliderFrame) {
        // transform: unset !important;
        // transition: unset !important;
        // margin-bottom: 25px;
        // justify-content: flex-start;
        // :global(.vtex-shelf-1-x-arrow) {
        //     display: none !important;
        // }
        // :global(.vtex-shelf-1-x-slide) {
        //     max-width: 60px;
        //     min-width: 60px;
        //     :global(.vtex-product-summary-2-x-container) {
        //         max-width: 45px !important;
        //     }
        // }
    }
    :global(.vtex-product-summary-2-x-element) {
        // padding-bottom: 0;
        // :global(.vtex-product-summary-2-x-imageContainer) {
        //     border-radius: 50%;
        //     overflow: hidden;
        //     width: 45px;
        //     height: 45px;
        //     min-height: 45px;
        //     :global(.vtex-product-summary-2-x-imageNormal) {
        //         object-fit: cover;
        //         object-position: center;
        //     }
        // }
    }
    :global(.vtex-slider-0-x-dotsContainer) {
        display: none !important;
    }
}
