@import "variables";

.container {
    border-radius: 0;
    max-width: 95% !important;
    transition: box-shadow 0.3s linear;
    
}
.element {
    position: relative;
    padding: 0;
    :global(.vtex-store-components-3-x-valueWrapper--unavailable) {
        display: none !important;
    }
    .imageContainer {
        width: 100%;
        height: 100%;
        .image {
            height: 100% !important;
            max-width: unset !important;
            object-fit: cover !important;
            object-position: center;
        }
    }

    .SKUSelectorContainer {
        opacity: 0;
        transition: opacity 0.3s linear 0.2s;
        :global(.vtex-store-components-3-x-skuSelectorContainer) {
            :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
                margin: 0;
                :global(.vtex-store-components-3-x-skuSelectorNameContainer) {
                    margin: 0;
                    :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
                        display: none;
                    }
                    :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
                        justify-content: center;
                        .skuSelectorItem {
                            height: auto;
                            padding: 0;
                            margin: 0;
                            .skuSelectorInternalBox {
                                .valueWrapper {
                                    padding: 5px 10px;
                                    font-size: 14px;
                                    margin: 0 5px;
                                }
                            }
                            &.skuSelectorItem--selected {
                                .skuSelectorInternalBox {
                                    border-color: $light !important;
                                    background-color: $dark !important;
                                    .valueWrapper {
                                        background-color: $dark !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    :global(.vtex-product-price-1-x-savings) {
        top: 0;
        left: 0;
        color: $light;
        width: max-content;
        padding: 5px 10px;
        position: absolute;
        font-size: 12px;
        background-color: $dark;
        @media (max-width: $maxMobile) {
            font-size: 9px;
        }
    }

    :global(.vtex-button) {
        border: 0;
        height: 40px;
        margin: 5px 0 0;
        padding: 0;
        width: 100%;
        opacity: 0;
        border-radius: 0;
        overflow: hidden;
        min-height: unset;
        transition: opacity 0.3s linear;
        :global(.vtex-button__label) {
            padding: 0;
            border-radius: 0;
            :global(.vtex-add-to-cart-button-0-x-buttonText) {
                font-size: $size1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 13px;
            }
        }
    }

    .nameContainer {
        padding: 10px 5px;
    }

    .brandName {
        height: auto;
        display: block;
        font-size: $size2;
        font-weight: $regular;
        color: $dark;
        @media (max-width: $maxMobile) {
            margin-bottom: 12px;
            font-size: $size3;
            height: auto;
        }
    }

    .priceContainer {
        padding: 0;
        height: auto;
    }

    :global(.vtex-store-components-3-x-sellingPrice) {
        padding: 0;
    }
    :global(.vtex-store-components-3-x-sellingPriceValue) {
        margin: 0;
        color: $dark;
        font-size: $size2;
        font-weight: $extraLight;
        text-transform: uppercase;
    }
    :global(.vtex-store-components-3-x-installmentsPrice) {
        color: $grey;
        margin-top: 10px;
        font-size: $size0;
        font-weight: $extraLight;
        text-transform: uppercase;
        @media (max-width: $maxMobile) {
            font-size: 11px;
        }
    }

    &:hover {
        .SKUSelectorContainer,
        :global(.vtex-button) {
            opacity: 1;
        }
    }

    :global(.vtex-product-price-1-x-installments) {
        font-size: $size1;
    }
}

.productPriceClass {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    .listPriceContainer {
        .listPriceLabel {
            display: none;
        }
    }
    .sellingPriceContainer {
        .sellingPriceLabel {
            font-size: 0;
            &::before {
                content: "Por: ";
                font-size: 14px;
            }
        }
    }
    .installmentContainer {
        width: 100%;
    }
}
.skuSelectorContainer {
    :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
        display: flex;
        align-items: center;
        justify-content: center;
        .skuSelectorItem--pp {
            order: 1;
        }
        .skuSelectorItem--p {
            order: 2;
        }
        .skuSelectorItem--m {
            order: 3;
        }
        .skuSelectorItem--g {
            order: 4;
        }
        .skuSelectorItem--gg {
            order: 5;
        }
        .skuSelectorItem--xgg {
            order: 6;
        }
        .skuSelectorItem--xxgg {
            order: 7;
        }
        .skuSelectorItem--4g {
            order: 8;
        }
        .skuSelectorItem--1 {
            order: 1;
        }
        .skuSelectorItem--2 {
            order: 2;
        }
        .skuSelectorItem--3 {
            order: 3;
        }
        .skuSelectorItem--4 {
            order: 4;
        }
        .skuSelectorItem--5 {
            order: 5;
        }
        .skuSelectorItem--6 {
            order: 6;
        }
        .skuSelectorItem--8 {
            order: 8;
        }
        .skuSelectorItem--10 {
            order: 10;
        }
        .skuSelectorItem--38 {
            order: 1;
        }
        .skuSelectorItem--38b {
            order: 2;
        }
        .skuSelectorItem--40 {
            order: 3;
        }
        .skuSelectorItem--42 {
            order: 4;
        }
        .skuSelectorItem--44 {
            order: 5;
        }
        .skuSelectorItem--46 {
            order: 6;
        }
        .skuSelectorItem--48 {
            order: 7;
        }
        .skuSelectorItem--48b {
            order: 8;
        }
    }
}